.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  color: #ff862f;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

