
.container {
  min-height: 100vh;
  background-color: #ff862f;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  padding-top: 0;
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 0;

}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;

}

.description {
  font-size: 1.2rem;
  color: #fff;
}