.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: #ff862f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
  position: relative;
}

.sessao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10rem;
}

.osso {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: -8rem;
  margin-top: -4rem;
}

.title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  margin-top: -4rem;
}

.description {
  font-size: 1.5rem;
  color: #ffd699;
  width: 75%;
  text-align: justify;
  text-align-last: left;
  hyphens: auto; 
  align-self: flex-start;
}

.capa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section {
  background: #ffffff;
  padding: 3rem;
  text-align: center;
}

.subtitle {
  color: #ff862f;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.subtitle2 {
  color: #6b4000;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
}

.description2 {
  color: #6d4100;
  font-size: 1rem;
  width: 25rem;
  text-align: justify;
}

.dogssection {
  margin-top: 2rem;
  background: #ffd699;
  padding: 2rem 2.5rem;
  margin-left: -3rem;
  margin-right: -3rem;
  width: calc(100% + 6rem);
}

.dogs {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 648px;
  margin: 0 auto;
}

.dogs img {
  flex: 0 0 200px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.button {
  margin: 2rem auto 2.5rem auto;
  background-color: #5c3624;
  color: #fff;
  border: none;
  padding: 0.75rem 2.5rem;
  font-size: 1.15rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: center;
}

.buttonimg {
  width: 40px;
  height: 40px;
}