.container {
    width: 100%;
    background: #ffd699;
    text-align: center;
    padding: 20px 12px;
    font-size: 0.95rem;
    margin-top: auto;
    border-top: 2px solid #ff862f;
}

.text {
    font-size: 1rem;
    color: #6b4000;
    font-weight: 500;
}